.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: #49B97D;
  /* fallback/image non-cover color */
  background: #8BBAA5;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(to top right, #8BBAA5, #4DAC82);
  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(left bottom, 0% 0%, 0% 100%, from(#8BBAA5), to(#4DAC82));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(to top right, #8BBAA5, #4DAC82);
  /* Opera 11.10+ */
  background: -o-linear-gradient(to top right, #8BBAA5, #4DAC82);
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2); }

.container-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .container-inner .main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%; }
  .container-inner .side-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    text-align: center; }
  .container-inner .posts-container {
    height: 116px;
    margin-bottom: 2px;
    background-color: #BAF8DD; }
  .container-inner .posts-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .container-inner .posts-number {
    font-weight: 700;
    font-size: 24px; }
  .container-inner .likes-container {
    height: 116px;
    margin-bottom: 2px;
    background-color: #BAF8DD; }
  .container-inner .likes-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .container-inner .likes-number {
    font-weight: 700;
    font-size: 24px; }
  .container-inner .follower-container {
    height: 116px;
    margin-bottom: 2px;
    overflow: hidden;
    background-color: #BAF8DD; }
  .container-inner .follower-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .container-inner .follower-number {
    font-weight: 700;
    font-size: 24px; }
