

$light-green:  #BAF8DD;
$light-green-hover: #6FF8BC;
$dark-green-btn-hover: #36795C;

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background: $from;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(to top right, $from, $to);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(left bottom, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(to top right, $from, $to);

  /* Opera 11.10+ */
  background: -o-linear-gradient(to top right, $from, $to);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: #49B97D;
  @include gradient( #8BBAA5, #4DAC82)
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
}

.container-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translate( -50%, -50% );
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,.2);
  
  .main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
  }
  
  .side-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  
  .posts-container {
    height: 116px;
    margin-bottom: 2px;
    background-color: $light-green;
  }
  
  .posts-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .posts-number{
    font-weight: 700;
    font-size: 24px;
  }
  
  .likes-container {
    height: 116px;
    margin-bottom: 2px;
    background-color: $light-green;
  }
  
  .likes-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .likes-number{
    font-weight: 700;
    font-size: 24px;
  }
  
  .follower-container {
    height: 116px;
    margin-bottom: 2px;
    overflow: hidden;
    background-color: $light-green;
  }
  
  .follower-container-inner {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .follower-number {
    font-weight: 700;
    font-size: 24px;
  }
}

